-- Add dashboard sensor selection setting to user preferences
ALTER TABLE user_preferences ADD COLUMN IF NOT EXISTS dashboard_sensor_selection TEXT DEFAULT 'sensor_1';

-- Update existing users to have the default setting
UPDATE user_preferences SET dashboard_sensor_selection = 'sensor_1' WHERE dashboard_sensor_selection IS NULL;
