-- Add sensor_type column to sensor_data table
ALTER TABLE sensor_data ADD COLUMN IF NOT EXISTS sensor_type TEXT;

-- Add index for better performance
CREATE INDEX IF NOT EXISTS idx_sensor_data_sensor_type ON sensor_data(sensor_type);

-- Update existing records with default sensor_type
UPDATE sensor_data SET sensor_type = 'vijver_water' WHERE sensor_type IS NULL;
