-- Add user_id column to individual_sensor_configs table
ALTER TABLE individual_sensor_configs 
ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id);

-- Update existing records with user_id (use the first user for now)
UPDATE individual_sensor_configs 
SET user_id = (SELECT id FROM auth.users LIMIT 1)
WHERE user_id IS NULL;
