-- Check if there are any individual sensor configs
SELECT 
  user_id,
  sensor_type,
  display_name,
  created_at
FROM individual_sensor_configs 
WHERE user_id = '8fcdc486-4958-4c5a-9c4b-40c005a919ca'
ORDER BY created_at DESC;

-- Check if the table exists and has data
SELECT COUNT(*) as total_configs
FROM individual_sensor_configs;
