-- Check what legacy data exists in sensor_data table
SELECT 
  sensor_type,
  COUNT(*) as count,
  MIN(created_at) as earliest,
  MAX(created_at) as latest
FROM sensor_data 
GROUP BY sensor_type
ORDER BY count DESC;

-- Check for records without sensor_type
SELECT 
  COUNT(*) as records_without_sensor_type
FROM sensor_data 
WHERE sensor_type IS NULL;

-- Check for old sensor_type values
SELECT 
  COUNT(*) as old_sensor_types
FROM sensor_data 
WHERE sensor_type IN ('vijver_water', 'filter_inlaat');
