-- Check the structure of individual_sensor_configs table
SELECT 
  column_name,
  data_type,
  is_nullable
FROM information_schema.columns 
WHERE table_name = 'individual_sensor_configs'
ORDER BY ordinal_position;

-- Check if there are any records
SELECT COUNT(*) as total_records FROM individual_sensor_configs;

-- Check recent records (without user_id)
SELECT 
  sensor_id,
  sensor_type,
  display_name,
  created_at
FROM individual_sensor_configs
ORDER BY created_at DESC
LIMIT 10;
