-- Check if display names are saved in individual_sensor_configs table
SELECT 
  sensor_id,
  sensor_type,
  display_name,
  user_id,
  created_at
FROM individual_sensor_configs
ORDER BY created_at DESC;

-- Check if there are any records at all
SELECT COUNT(*) as total_configs FROM individual_sensor_configs;
