-- Check recent data to see what's happening with sensor types
SELECT 
  sensor_type,
  temperature,
  created_at,
  sensor_id
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '1 hour'
ORDER BY created_at DESC
LIMIT 20;
