-- Check what's actually in the sensor_data table
SELECT 
  user_id,
  sensor_id,
  sensor_type,
  sensor_name,
  temperature,
  created_at
FROM sensor_data 
ORDER BY created_at DESC
LIMIT 10;

-- Check if there are any records for the current user
SELECT 
  COUNT(*) as total_records,
  COUNT(CASE WHEN user_id = '8fcdc486-4958-4c5a-9c4b-40c005a919ca' THEN 1 END) as user_records
FROM sensor_data;

-- Check what sensor_types exist
SELECT DISTINCT sensor_type, COUNT(*) as count
FROM sensor_data 
GROUP BY sensor_type;
