-- Test if data is coming in at all
SELECT 
  COUNT(*) as total_records,
  MAX(created_at) as latest_record
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '1 hour';

-- Check for any errors in recent data
SELECT 
  sensor_type,
  COUNT(*) as count,
  MAX(created_at) as latest
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '1 hour'
GROUP BY sensor_type;
