-- Check what's in the individual_sensor_configs table
SELECT 
  user_id,
  sensor_type,
  display_name,
  created_at
FROM individual_sensor_configs 
ORDER BY created_at DESC
LIMIT 10;

-- Check if there are any records for the current user
SELECT 
  user_id,
  sensor_type,
  display_name,
  created_at
FROM individual_sensor_configs 
WHERE user_id = '8fcdc486-4958-4c5a-9c4b-40c005a919ca'
ORDER BY created_at DESC;
