-- Check what's in the sensor_data table for the current user
SELECT 
  sensor_id,
  sensor_type,
  sensor_name,
  temperature,
  created_at
FROM sensor_data 
WHERE user_id = '8fcdc486-4958-4c5a-9c4b-40c005a919ca'
ORDER BY created_at DESC
LIMIT 5;

-- Check if there are any sensor_name values
SELECT 
  COUNT(*) as total_records,
  COUNT(sensor_name) as records_with_sensor_name,
  COUNT(CASE WHEN sensor_name IS NOT NULL AND sensor_name != '' THEN 1 END) as non_empty_sensor_names
FROM sensor_data 
WHERE user_id = '8fcdc486-4958-4c5a-9c4b-40c005a919ca';
