-- Check if there is sensor data in the database
SELECT 
  COUNT(*) as total_records,
  MIN(created_at) as earliest_record,
  MAX(created_at) as latest_record
FROM sensor_data;

-- Check recent sensor data (last 7 days)
SELECT 
  sensor_type,
  COUNT(*) as count,
  MIN(created_at) as earliest,
  MAX(created_at) as latest
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '7 days'
GROUP BY sensor_type
ORDER BY count DESC;

-- Check if there are any records with valid temperature values
SELECT 
  COUNT(*) as valid_temperature_records
FROM sensor_data 
WHERE temperature IS NOT NULL 
  AND temperature >= 0 
  AND temperature <= 50;
