-- Check if individual_sensor_configs table exists and has data
SELECT 
  table_name,
  column_name,
  data_type
FROM information_schema.columns 
WHERE table_name = 'individual_sensor_configs'
ORDER BY ordinal_position;

-- Check if there are any records
SELECT COUNT(*) as total_records FROM individual_sensor_configs;

-- Check recent records
SELECT 
  sensor_id,
  sensor_type,
  display_name,
  user_id,
  created_at
FROM individual_sensor_configs
ORDER BY created_at DESC
LIMIT 10;
