-- Check recent sensor data to understand the date mixing issue
SELECT 
  sensor_type,
  DATE(created_at) as date,
  EXTRACT(HOUR FROM created_at) as hour,
  temperature,
  created_at
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '2 days'
ORDER BY created_at DESC
LIMIT 20;
