-- Check if ANY data is coming in at all (last 24 hours)
SELECT 
  COUNT(*) as total_records,
  MAX(created_at) as latest_record,
  MIN(created_at) as earliest_record
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '24 hours';

-- Check recent data by sensor_type
SELECT 
  sensor_type,
  COUNT(*) as count,
  MAX(created_at) as latest,
  MIN(created_at) as earliest
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '24 hours'
GROUP BY sensor_type
ORDER BY latest DESC;
