-- Update NULL sensor_type records to sensor_1 (legacy data)
UPDATE sensor_data 
SET sensor_type = 'sensor_1' 
WHERE sensor_type IS NULL 
AND created_at > NOW() - INTERVAL '7 days';

-- Check the results
SELECT 
  sensor_type, 
  COUNT(*) as count,
  MAX(created_at) as latest_reading
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '1 day'
GROUP BY sensor_type
ORDER BY sensor_type;
