-- Update existing sensor_data records to use new sensor types
UPDATE sensor_data 
SET sensor_type = 'sensor_1' 
WHERE sensor_type = 'vijver_water' 
AND created_at > NOW() - INTERVAL '1 day';

UPDATE sensor_data 
SET sensor_type = 'sensor_2' 
WHERE sensor_type = 'filter_inlaat' 
AND created_at > NOW() - INTERVAL '1 day';

-- Check the results
SELECT sensor_type, COUNT(*) as count
FROM sensor_data 
WHERE created_at > NOW() - INTERVAL '1 day'
GROUP BY sensor_type
ORDER BY sensor_type;
