-- Create user_preferences table if it doesn't exist
CREATE TABLE IF NOT EXISTS user_preferences (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  dashboard_sensor_selection TEXT DEFAULT 'sensor_1',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(user_id)
);

-- Add the column if the table already exists
ALTER TABLE user_preferences ADD COLUMN IF NOT EXISTS dashboard_sensor_selection TEXT DEFAULT 'sensor_1';

-- Update existing users to have the default setting
UPDATE user_preferences SET dashboard_sensor_selection = 'sensor_1' WHERE dashboard_sensor_selection IS NULL;

-- Create index for better performance
CREATE INDEX IF NOT EXISTS idx_user_preferences_user_id ON user_preferences(user_id);
